---
import Layout from '../../layouts/Layout.astro'
import EventosByCircuito from '../../components/evento/EventosByCircuito.astro'
import { getCircuito } from '../../lib/api'
import CardTour from '../../components/tour/CardTour'

const { slug } = Astro.params
const tour = await getCircuito(slug as string)
if (!tour) {
    return new Response(null, {
        status: 404,
        statusText: 'Not found',
    })
}
const title = `Circuito de Poker ${tour.nombre} - Torneos Poker Live`
---

<Layout title={title}>
    <div class="md:flex gap-4">
        <div class="w-100 md:w-3/12 mt-6 space-y-4">
            <CardTour tour={tour} />
        </div>
        <div class="md:w-9/12">
            <div>
                <h1 class="text-4xl font-bold py-4">
                    Eventos de {tour.nombre}
                </h1>
                <div class="space-y-1 md:space-y-0.5">
                    <EventosByCircuito circuito={tour} />
                </div>
            </div>
        </div>
    </div>
</Layout>
