---
import Layout from '../../layouts/Layout.astro'
import TorneosByCasino from '../../components/tournament/TorneosByCasino.astro'
import { getCasino } from '../../lib/api'
import CardCasino from '../../components/casino/CardCasino'
import { marked } from 'marked'

const { slug } = Astro.params
const casino = await getCasino(slug as string)
if (!casino) {
    return new Response(null, {
        status: 404,
        statusText: 'Not found',
    })
}

const descripcion = marked(casino.descripcion)
const title = `Torneos de Poker en ${casino.nombre} - Torneos Poker Live`
---

<Layout title={title}>
    <div class="md:flex gap-4">
        <div class="w-100 md:w-4/12 mt-6">
            <CardCasino casino={casino} />
            <div class="mt-4">
                <div class="p-2 prose" set:html={descripcion} />
            </div>
        </div>
        <div class="md:w-8/12">
            <TorneosByCasino casino={casino} />
        </div>
    </div>
</Layout>
