---
import Layout from '../layouts/Layout.astro'
import {
    getTodayTorneos,
    getTomorrowTorneos,
    getCurrentEventos,
    getNextEventos,
} from '../lib/api'
import RowEventoV2 from '../components/evento/RowEventoV2'
import RowTournamentV2 from '../components/tournament/RowTournamentV2'
import CardEvento from '../components/evento/CardEvento'

const { datamapped: torneos, meta } = await getTodayTorneos()
const { datamapped: torneosTomorrow, meta: metaTomorrow } =
    await getTomorrowTorneos()
const currentevents = await getCurrentEventos()
const nextevents = await getNextEventos()
---

<Layout title="Torneos Poker Live">
    <main class="mx-10">
        {
            currentevents.length > 0 && (
                <div>
                    <h2 class="text-2xl font-bold py-4">
                        Eventos live actuales
                    </h2>
                    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4">
                        {currentevents.map((event) => (
                            <CardEvento key={event.id} evento={event} />
                        ))}
                    </div>
                </div>
            )
        }

        {
            torneos.length > 0 && (
                <div>
                    <h2 class="text-2xl font-bold py-4">Torneos de Hoy</h2>
                    <div class="space-y-0.5">
                        {torneos?.map((torneo) => (
                            <RowTournamentV2
                                key={torneo.id}
                                torneo={torneo}
                                casino="true"
                                event="true"
                            />
                        ))}
                    </div>
                    <div class="text-right mt-4">
                        <a class="btn" href="/torneos">
                            Ver Todos
                        </a>
                    </div>
                </div>
            )
        }
        {
            torneosTomorrow.length > 0 && (
                <div>
                    <h2 class="text-2xl font-bold py-4">Torneos de Mañana</h2>
                    <div class="space-y-0.5">
                        {torneosTomorrow?.map((torneo) => (
                            <RowTournamentV2
                                key={torneo.id}
                                torneo={torneo}
                                casino="true"
                                event="true"
                            />
                        ))}
                    </div>
                    <div class="text-right mt-4">
                        <a class="btn" href="/torneos">
                            Ver Todos
                        </a>
                    </div>
                </div>
            )
        }
        {
            nextevents.length > 0 && (
                <div>
                    <h2 class="text-2xl font-bold py-4">
                        Próximos eventos live
                    </h2>
                    <div class="space-y-2">
                        {nextevents.map((event) => (
                            <RowEventoV2
                                key={event.id}
                                evento={event}
                                showtour={true}
                            />
                        ))}
                    </div>
                    <div class="text-right mt-4">
                        <a class="btn" href="/eventos">
                            Ver Todos
                        </a>
                    </div>
                </div>
            )
        }
    </main>
</Layout>
